* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-form {
    padding: 1.5em;
    max-width: 600px;
    margin: auto;
}

/* Steps */

.steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-block: 40px;
}

.step {
    background-color: #29a5d8;
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: .4s;
    &:not(.active) {
        background-color: color-mix(in srgb, #29a5d8, white 80%);
    }
}

.line {
    border-bottom: 5px solid #29a5d8;
    position: absolute;
    top: calc(35px / 2);
    width: 94%;
    left: 3%;
    z-index: -1;
}

/* Form */

.form-step:not(.active) {
    display: none;
}

.title {
    text-wrap: balance;
    margin-bottom: 40px;
    color: #333;
}

.input-container {
    position: relative;
    display: flex;
    gap: 5px;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid currentColor;
    border-radius: 20px;
    color: #aaa;
    &:focus-within {
        color: #29a5d8;
    }
}

.input-field {
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    color: inherit;
    caret-color: currentColor;
}

.material-symbols-outlined ~ .input-label {
    left: 40px;
}

.input-label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
    background: white;
    padding: 0 5px;
    pointer-events: none;
}

.input-field:is(:focus, :not(:placeholder-shown)) + .input-label {
    top: 0px;
    font-size: 12px;
}

label.check-container:hover {
    background-color: #29a6d852;
    cursor: pointer;
}

.check-container {
    padding-block: 10px;
    transition: .4s;
    border-radius: 15px;
    display: flex;
    gap: 30px;
    font-size: 14px;
    color: #333;
    margin-top: 30px;
    & a {
        color: inherit;
        font-weight: 500;
    }
}

.check-field {
    scale: 1.6;
    margin-left: 15px;
    accent-color: #333;
}

.submit-button {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #29a5d8;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        background-color: color-mix(in srgb, #29a5d8, white 20%);
    }
    &:disabled {
        cursor: default;
        background-color: #eee;
        color: #aaa;
    }
}

.form-message {
    font-size: 14px;
    margin-left: 10px;
    color: #333;
    & a {
        color: inherit;
        font-weight: 500;
    }
}

.button-select-car {
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 15px;
    .label-button {
        display: inline-block;
        margin-bottom: 10px;
    }
    .model-button {
        font-size: 20px;
        color: #333;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }
    .arrow {
        transform: scaleY(0.5) scaleX(0.7);
    }
    &:hover {
        background-color: #eee;
    }
}

.informations {
    background-color: #eee;
    font-size: 0.9em;
    border-radius: 15px;
    padding: 15px;
    .info {
        display: inline-block;
        margin-bottom: 10px;
    }
    .value {
        font-size: 18px;
        color: #333;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }
}

.subtitle {
    font-size: 20px;
    color: #444;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    .check-container  {
        margin: 0;
    }
}

.question {
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 15px;

    & label {
        display: flex;
        gap: 15px;
    }
}

input[type="radio"] {
    scale: 1.5;
    accent-color: #333;
}

hr {
    margin-inline: 15px;
    border-color: #eee;
}

.hr-condutor {
    margin-block: 30px;
}

.dialog-question {
    border-radius: 15px;
    padding-block: 15px;
    max-width: 600px;
    width: 100%;
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    & h2 {
        text-align: center;
        margin-bottom: 10px;
    }
    & hr {
        margin: 10px 0;
    }
    & label {
        padding: 5px 10px;
        border-radius: 15px;
        cursor: pointer;
    }
    & label:hover {
        background-color: #29a6d852;
    }
    & input {
        cursor: pointer;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
}

.cancel, .send {
    color: #555;
    border: 1px solid currentColor;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.cancel {
    color: rgb(197, 24, 24);
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.514);
}